# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
qodana.yaml

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vscode
/server/.venv
/server/.vscode
/server/*.log
/server/chat_server/chat_app/models/__pycache__
/server/chat_server/chat_app/service/__pycache__
